.gallery {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 140px;
}
/* .card {
  padding: 5px;
  background-color: rgb(223, 227, 235);
  /* border: 1px solid rgb(170, 169, 172);
  transition: all 350ms ease-in-out;
}
.card:hover {
  transform: scale(1.02);
} */
